# Prerequisites
*.d
.vs
CMakeFiles
*.log
*.tlog
*.vcxproj.user
*.vcxproj.filters
imgui.dir
glad.dir
OpenGLPAG.dir
assimp.dir
AntonKarpetskyi_l1
*.ini
*.ilk
*.pdb
.idea
normal.png

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
